#title {

    font-size:4vw;
    font-weight:800;
    color: #a44d00;
    display:flex;
    justify-content:center;
    align-self:center;
    width:60%;
    border-bottom:10px dashed #634005;
    text-align: center;



}


/*colors

dark brown for text  #221704
old green for text #0B6809
old background color for top and bottom #a44d00


*/



.wholepage {


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    gap:5vh;




}

body {

    
    background-color:#f0d7ad;

}

.navbar {

    display:flex;
    gap:5vw;
    justify-content:center;
    position: sticky;
    top: 0;
    border: 5px dashed #a44d00;
    background-color: #f3bd5f ;
    flex-direction:column;


}


.navitem {


    display:flex;
    padding:1vw;
    border:4px dotted #634005;
    border-bottom:4px dashed #634005;
    color: #221704;
    background-color:#f0d7ad;
    


}

.aboutsec {

    border:5px dotted #634005;
    border-bottom:5px dashed #634005;
    width:45vw;
    display:flex;
    flex-direction:column;
    align-self:center;
    justify-content:center;



}


.about {

    font-weight:700;
    font-size:1vw;
    color:#a44d00;
    display:flex;
    padding:5px;



}



.aboutt {

    font-size:1vw;
    color: #221704;
    display:flex;
    margin-top:0px;
    padding:5px;
    text-align:center;


}

.links {



    text-decoration: none;



}

a {

    color: #221704;



}

a:hover {

    color:#634005;


}

.imagerow {

display:flex;
gap:1vw;
justify-content:center;




}

.imageset {

    display:flex;
    flex-direction:column;
    border:5px dashed #634005;


}

.image {

display:flex;
width:20vw;
height:35vh;




}


.imgdesc {


display:flex;
width:20vw;
text-align:center;
color:#221704;





}

.rolls {

    display:flex;
    gap:1vw;

    
}

.imgdesccom {

display:flex;
width:40vw;
text-align:center;
color:#221704;



}

.bottombar {

display:flex;
background-color: #f3bd5f;
align-content:center;
justify-content:center;
border:5px dashed #a44d00;

}

.leftsidebottom {

    display:flex;
    width:70%;
    flex-direction:column;
    align-content:center;
    justify-content:center;


}

.bottombarText {

color:#221704;
display:flex;


}


.rightsidebottom {

    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;


}


.listitem {

color:#221704;




}

.navbartop {

    display:flex;
    justify-content:center;
    gap:1vh;
    margin-top:-5px;

}

.selector {

    display:flex;
    justify-content:center;
   


}

.select {

    color: #634005;
    background-color:#f0d7ad ;
    padding:1vw;
    font-size:1vw;
    margin-bottom:1vh;
    text-align:center;
    border:2px dashed #634005;

}

#ButterMilkPancakeWaffle {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;


}

.name {

    display:flex;
    align-self:center;
    font-size:3vw;
    font-weight:800;
    color:#a44d00;
    border-bottom:5px dashed #634005;


}

.imgs {


    display:flex;
    justify-content:center;
    gap:1vw;


}

.recipeimg {


    display:flex;
    width:20vw;
    height:40vh;


}

.RecipeDescription {


    display:flex;
    width:50vw;
    text-align: center;
    color:#221704;
    font-size:1vw;
    align-self:center;
    border:5px dotted #a44d00;
    border-bottom:5px dashed #a44d00;
    padding:10px;


}

.ingredientssec {

    display:flex;
    flex-direction:column;
    border:5px dashed #a44d00;
    margin:20px;
    width:50vw;
    align-self:center;

}

.ingredientstitle {

    display:flex;
    justify-content:center;
    align-self:center;
    color:#a44d00;
    border-bottom:5px dashed#634005;
    font-size: 2vw;

}

.ingredients {

    display:flex;
    justify-content:space-around;
    align-items:center;
    

}

.IngredList {

    display:flex;
    flex-direction:column;
    color:#221704;
    font-size:1vw;
    

}

.instructions {

display:flex;
flex-direction:column;
border:5px dashed #a44d00;
margin:20px;
padding:10px;
width:50vw;
align-self:center;


}

.instrtitle {

    display:flex;
    justify-content:center;
    align-self:center;
    color:#a44d00;
    border-bottom:5px dashed#634005;
    font-size: 2vw;



}

.instructionsldiv {

    display:flex;


}


.instructionsList {

    display:flex;
    flex-direction:column;
    gap:1vh;
    font-size:1vw;
    color:#221704;

}

#ButterMilkReplacement {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}


.oneimg {

    display:flex;
    width:30vw;
    height:50vh;




}

.IngredList2 {

    display:flex;
    color:#221704;
    font-size:20px;
    align-content:center;
    justify-content: center;;
    gap:1vw;
    


}

#FrenchToast {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;


}

#CinnamonRolls {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;


}

#GarlicSwirl {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}

#OatmealBread {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;




}

#CloverRolls {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}


.selectorSection {


    color:black;


}


#BrownButterPanCookie {


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}

#marinara {


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;






}

#Pizza {


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}

#MeatBalls {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}

#FrenchOnion

{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}

#SweetChili {


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;



}

#Steak {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;




}

.selectors {


    display:flex;
    justify-content:center;
    align-items:center;
    gap:2%;



}

.bothsides {

    display:flex;
    justify-content: center;
    align-items:center;
    gap:2%;
    background: url(Recipes/background_recipes_3.png) right top repeat-y, url(Recipes/background_recipes_3.png) left top repeat-y;
    font-size:1vw;

}

#myRecipes {

    display:flex;
    width:15%;
    border:5px dashed #634005;
    padding:1vw;
    flex-direction: column;


}

#friendsRecipes {


    display:flex;
    width:15%;
    border:5px dashed #634005;
    padding:1vw;
    flex-direction: column;

}

.recipes {

    margin-top:10px;
    display:flex;



}

.tocList {


    display:flex;
    flex-direction:column; 
    gap:30px;


}