#title {

    font-size:60px;
    font-weight:800;
    color: #a44d00;
    display:flex;
    justify-content:center;
    align-self:center;
    width:1300px;
    border-bottom:10px dashed #634005;



}

.wholepage {


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    gap:20px;




}

body {

    background-color:#E2B059;



}

.navbar {

    display:flex;
    gap:10px;
    justify-content:center;
    position: sticky;
    top: 0;
    border: 5px dashed #a44d00;
    background-color: #d69c38 ;
    flex-direction:column;


}


.navitem {


    display:flex;
    padding:10px;
    border:4px dotted #634005;
    border-bottom:4px dashed #634005;
    color:#0B6809;
    background-color:#E2B059
    


}

.aboutsec {

    border:5px dotted #634005;
    border-bottom:5px dashed #634005;
    width:800px;
    display:flex;
    flex-direction:column;
    align-self:center;
    justify-content:center;



}


.about {

    font-weight:700;
    font-size:25px;
    color:#a44d00;
    display:flex;
    padding:5px;



}



.aboutt {

    font-size:20px;
    color:#0B6809;
    display:flex;
    margin-top:0px;
    padding:5px;
    text-align:center;


}

.links {



    text-decoration: none;



}

a {

    color: #0B6809;



}

a:hover {

    color:#634005;


}

.imagerow {

display:flex;
gap:20px;
justify-content:center;




}

.imageset {

    display:flex;
    flex-direction:column;
    border:5px dashed #634005;


}

.image {

display:flex;
width:400px;
height:400px;




}


.imgdesc {


display:flex;
width:400px;
text-align:center;
color:#0B6809;





}

.rolls {

    display:flex;
    gap:20px;

    
}

.imgdesccom {

display:flex;
width:800px;
text-align:center;
color:#0B6809;



}

.bottombar {

display:flex;
background-color: #d69c38;
align-content:center;
justify-content:center;
border:5px dashed #a44d00;

}

.leftsidebottom {

    display:flex;
    width:70%;
    flex-direction:column;
    align-content:center;
    justify-content:center;


}

.bottombarText {

color:#0B6809;
display:flex;


}


.rightsidebottom {

    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;


}


.listitem {

color:#0B6809;




}

.navbartop {

    display:flex;
    justify-content:center;
    gap:20px;

}

.selector {

    display:flex;
    justify-content:center;
   


}

.select {

    color:#0B6809;
    background-color:#E2B059 ;
    padding:10px;
    font-size:15px;
    margin-bottom:10px;
    text-align:center;
    border:2px dashed #634005;

}

#ButterMilkPancakeWaffle {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;



}

.name {

    display:flex;
    align-self:center;
    font-size:50px;
    font-weight:800;
    color:#a44d00;
    border-bottom:5px dashed #634005;


}

.imgs {


    display:flex;
    justify-content:center;
    gap:20px;


}

.recipeimg {


    display:flex;
    width:500px;
    height:500px;


}

.RecipeDescription {


    display:flex;
    width:1000px;
    text-align: center;
    color:#0B6809;
    font-size:20px;
    align-self:center;
    border:5px dotted #634005;
    border-bottom:5px dashed #634005;
    padding:10px;


}

.ingredientssec {

    display:flex;
    flex-direction:column;
    border:5px dashed #a44d00;
    margin:20px;
    width:1200px;
    align-self:center;

}

.ingredientstitle {

    display:flex;
    justify-content:center;
    align-self:center;
    color:#0B6809;
    border-bottom:5px dashed#634005;
    font-size: 30px;

}

.ingredients {

    display:flex;
    justify-content:space-around;
    align-items:center;
    

}

.IngredList {

    display:flex;
    flex-direction:column;
    color:#0B6809;
    font-size:20px;
    

}

.instructions {

display:flex;
flex-direction:column;
border:5px dashed #a44d00;
margin:20px;
padding:10px;
width:1200px;
align-self:center;


}

.instrtitle {

    display:flex;
    justify-content:center;
    align-self:center;
    color:#0B6809;
    border-bottom:5px dashed#634005;
    font-size: 30px;



}

.instructionsldiv {

    display:flex;


}


.instructionsList {

    display:flex;
    flex-direction:column;
    gap:10px;
    font-size:20px;
    color:#0B6809;

}

#ButterMilkReplacement {

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    border:5px dashed #634005;




}


.oneimg {

    display:flex;
    width:600px;
    height:600px;




}

.IngredList2 {

    display:flex;
    color:#0B6809;
    font-size:20px;
    align-content:center;
    justify-content: center;;
    gap:40px;
    


}